body {font-size: 24px;}
.red {color: red;}
.green {color: green;}
p.italic {font-style: italic;}
p.bold {font-style: bold;}

ol ul li.red {color:green;}
ol li.green {color:red;}
ol li.blue {color: blue;}